 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container px-4 px-lg-5 " >
        <a class="navbar-brand text-white" href="/">KNU share Consuming</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-sm-8 col-md-6 offset-md-4 collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link text-white" href="/cobuying" id="link1">공동구매</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/exchange" id="link2">교환</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/share" id="link3">나눔</a></li>
                <%if(!loggedIn){%>
                <li class="nav-item"> <button style="margin-left: 10px" class="btn btn-outline-lignt" type="submit" onclick="location.href='/auth/login'">Sign in</button></li>
                <li class="nav-item"> <button style="margin-left: 10px" class="btn btn-outline-light" type="submit" onclick="location.href='/auth/register'">Sign up</button></li>
                <%}else{%>
                    <li class="nav-item"> <button style="margin-left: 10px" class="btn btn-outline-light" type="submit" onclick="location.href='/auth/logout'">Logout</button></li>
                <%}%>
            </ul>
        </div>
    </div>
</nav>