<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header')-%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar_white')-%>
            <!-- Header-->
            <header class="bg-success py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center text-white">
                        <h1 class="display-4 fw-bolder">☘KNU share Consuming</h1>
                        <br>
                        <p class="lead fw-normal text-white-50 mb-0">경북대 학생 중에는 1인 가구 및 기숙사생이 많다. 하지만 배달음식이나 쿠팡 로켓프레시,
                            택배 배달비 무료 최소비용은 이들이 한 번에 주문하기 에는 부담스러운 금액이다. 물론 에브리타임 등 경북대생의 커뮤니티가 존재하지만 이는 이런 물품 또는 음식을
                            공유해서 구매하기에는 불편함이 분명 존재한다. 따라서 이 웹 사이트를 만들어 학생들끼리의 공동구매에 도움을 주어 학생들의 합리적 소비 및 금전적 이익에 도움을 주고자
                            한다.</p>
                    </div>
                </div>
            </header>
            <%- include('layouts/footer')-%>
            <%- include('layouts/script')-%>
    </body>

</html>