<!DOCTYPE html>
<html lang="en">
    <%-include('layouts/header')-%>
    <body>
        <!-- Navigation-->
        <%-include('layouts/navbar_white')-%>

        <!-- Header-->
        <header class="bg-success py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">☘회원가입☘</h1>
                    <p class="lead fw-normal text-white-50 mb-0">환영합니다~</p>
                </div>
            </div>
        </header>

        <!-- Section-->
        <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-8 mx-auto my-5">        
                <!-- for browser to know tha tthe form contains mutli media. will encripy multie media and send to server -->
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                      <label>User Name</label>
                      <input type="text" class="form-control" placeholder="User Name" id="username" name="username">              
                    </div>
                  </div>
        
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                      <label>Password</label>
                      <input type="password" class="form-control" placeholder="Password" id="password" name="password">              
                    </div>
                  </div>
                   
        
                  <br/>
                  <div class="form-group mb-5" style="text-align: right;">
                    <button type="submit" class="btn btn-success">가입하기</button>
                </div>
                </form>
              </div>
            </div>
        </div>
        <!-- Footer-->
        <%-include('layouts/footer')-%>
        <%- include('layouts/script')-%>
    </body>
</html>
