<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>KNU share consuming</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/public/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">KNU share Consuming</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="col-sm-8 col-md-6 offset-md-4 collapse navbar-collapse" id="navbarSupportedContent">
                   
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link " aria-current="page" href="#!">공동구매</a></li>
                        
                        <li class="nav-item"><a class="nav-link" href="#!">교환</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">나눔</a></li>
                        <li class="nav-item">  <button style="margin-left: 10px"class="btn btn-outline-success" type="submit">Sign in</button></li>
                        <li class="nav-item"> <button style="margin-left: 10px"class="btn btn-outline-success" type="submit">Sign up</button></li>
                    </ul>
                        
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-success py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">☘KNU share Consuming</h1>
                    <p class="lead fw-normal text-white-50 mb-0">경북대 학생 중에는 1인 가구 및 기숙사생이 많다. 하지만 배달음식이나 쿠팡 로켓프레시, 택배 배달비 무료 최소비용은 이들이 한 번에 주문하기 에는 부담스러운 금액이다. 물론 에브리타임 등 경북대생의 커뮤니티가 존재하지만 이는 이런 물품 또는 음식을 공유해서 구매하기에는 불편함이 분명 존재한다. 따라서 이 웹 사이트를 만들어 학생들끼리의 공동구매에 도움을 주어 학생들의 합리적 소비 및 금전적 이익에 도움을 주고자 한다.</p>
                </div>
            </div>
        </header>
        
        <!-- Footer-->
        <footer class="py-5 bg-success">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
